body {
    padding: 0px;
    margin: 0px;
	background-color: black;
	background-color: rgb(230, 0, 34);
	background-color: rgb(0, 219, 230);
	background-color: rgb(230, 169, 0);
	background-color: rgb(0, 230, 50);
	background-color: rgb(18, 18, 18);
}
/* #e60022 Red */
/* #e6a900 Yellow */ 
/* #00dbe6 cyan */
/* #00e632 green */
/* #121212 black */

#container {
    position: relative;
    padding: none;
    margin: none;
    width: 100vw;
    height: 100vh;
}

.hidden {
	display: none;
}

#intro {
	background-image: url('../assets/intro.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
	z-index: 20;
}

#start {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 380px;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

#start:hover {
	transform: translate(-50%, 0%) scale(120%);
	-webkit-transform: translate(-50%, 0%) scale(120%);
	-moz-transform: translate(-50%, 0%) scale(120%);
	-ms-transform: translate(-50%, 0%) scale(120%);
	-o-transform: translate(-50%, 0%) scale(120%);
}

#start:active {
	transform: translate(-50%, 0%) scale(110%);
	-webkit-transform: translate(-50%, 0%) scale(110%);
	-moz-transform: translate(-50%, 0%) scale(110%);
	-ms-transform: translate(-50%, 0%) scale(110%);
	-o-transform: translate(-50%, 0%) scale(110%);
}

#pause {
	position: fixed;
	right: 40px;
	top: 40px;
	width: 100px;
	height: 100px;
	transition: all 0.5s;
	z-index: 30;
	opacity: 0.8;
}

#pause:hover {
	opacity: 1;
	transform: scale(120%);
	-webkit-transform: scale(120%);
	-moz-transform: scale(120%);
	-ms-transform: scale(120%);
	-o-transform: scale(120%);
}

#pause:active {
	opacity: 1;
	transform: scale(110%);
	-webkit-transform: scale(110%);
	-moz-transform: scale(110%);
	-ms-transform: scale(110%);
	-o-transform: scale(110%);
}

#resume {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 400px;
	transform: translate(calc(-50% + 180px), -50%);
	transition: all 0.5s;
	z-index: 30;
	opacity: 0.8;
	-webkit-transform: translate(calc(-50% + 180px), -50%);
	-moz-transform: translate(calc(-50% + 180px), -50%);
	-ms-transform: translate(calc(-50% + 180px), -50%);
	-o-transform: translate(calc(-50% + 180px), -50%);
}

#resume:hover {
	opacity: 1;
	transform: translate(calc(-50% + 180px), -50%) scale(120%);
	-webkit-transform: translate(calc(-50% + 180px), -50%) scale(120%);
	-moz-transform: translate(calc(-50% + 180px), -50%) scale(120%);
	-ms-transform: translate(calc(-50% + 180px), -50%) scale(120%);
	-o-transform: translate(calc(-50% + 180px), -50%) scale(120%);
}

#resume:active {
	opacity: 1;
	transform: translate(calc(-50% + 180px), -50%) scale(110%);
	-webkit-transform: translate(calc(-50% + 180px), -50%) scale(110%);
	-moz-transform: translate(calc(-50% + 180px), -50%) scale(110%);
	-ms-transform: translate(calc(-50% + 180px), -50%) scale(110%);
	-o-transform: translate(calc(-50% + 180px), -50%) scale(110%);
}

#exit {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 400px;
	transform: translate(calc(-50% - 180px), -50%);
	transition: all 0.5s;
	z-index: 30;
	opacity: 0.8;
	-webkit-transform: translate(calc(-50% - 180px), -50%);
	-moz-transform: translate(calc(-50% - 180px), -50%);
	-ms-transform: translate(calc(-50% - 180px), -50%);
	-o-transform: translate(calc(-50% - 180px), -50%);
}

#exit:hover {
	opacity: 1;
	transform: translate(calc(-50% - 180px), -50%) scale(120%);
	-webkit-transform: translate(calc(-50% - 180px), -50%) scale(120%);
	-moz-transform: translate(calc(-50% - 180px), -50%) scale(120%);
	-ms-transform: translate(calc(-50% - 180px), -50%) scale(120%);
	-o-transform: translate(calc(-50% - 180px), -50%) scale(120%);
}

#exit:active {
	opacity: 1;
	transform: translate(calc(-50% - 180px), -50%) scale(110%);
	-webkit-transform: translate(calc(-50% - 180px), -50%) scale(110%);
	-moz-transform: translate(calc(-50% - 180px), -50%) scale(110%);
	-ms-transform: translate(calc(-50% - 180px), -50%) scale(110%);
	-o-transform: translate(calc(-50% - 180px), -50%) scale(110%);
}

#play-again {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 30;
	width: 600px;
	height: 600px;
	transition: all 0.5s;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

#play-again:hover {
	transform: translate(-50%, -50%) scale(120%);
	-webkit-transform: translate(-50%, -50%) scale(120%);
	-moz-transform: translate(-50%, -50%) scale(120%);
	-ms-transform: translate(-50%, -50%) scale(120%);
	-o-transform: translate(-50%, -50%) scale(120%);
}

#play-again:active {
	transform: translate(-50%, -50%) scale(110%);
	-webkit-transform: translate(-50%, -50%) scale(110%);
	-moz-transform: translate(-50%, -50%) scale(110%);
	-ms-transform: translate(-50%, -50%) scale(110%);
	-o-transform: translate(-50%, -50%) scale(110%);
}

#owari {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 30;
	width: 600px;
	height: 600px;
	transition: all 0.5s;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

#owari:hover {
	transform: translate(-50%, -50%) scale(120%);
	-webkit-transform: translate(-50%, -50%) scale(120%);
	-moz-transform: translate(-50%, -50%) scale(120%);
	-ms-transform: translate(-50%, -50%) scale(120%);
	-o-transform: translate(-50%, -50%) scale(120%);
}

#owari:active {
	transform: translate(-50%, -50%) scale(110%);
	-webkit-transform: translate(-50%, -50%) scale(110%);
	-moz-transform: translate(-50%, -50%) scale(110%);
	-ms-transform: translate(-50%, -50%) scale(110%);
	-o-transform: translate(-50%, -50%) scale(110%);
}

.background {
	position: absolute;
    overflow: hidden;
    width: 2000px;
    height: 2000px;
	user-select: none; /* Standard syntax */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

#indicator {
	position: fixed;
	top: 80px;
	left: 80px;
	fill: white;
	z-index: 11;
}

#destination {
	position: absolute;
	fill: rgb(241, 14, 58);
	z-index: 12;
}

#obstacls {
	z-index: 10;
	position: absolute;
	width: 2000px;
	height: 2000px;
	top: 0px;
	left: 0px;
	user-select: none; /* Standard syntax */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.obstacl {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 0px;
	opacity: 0.8;
}

#player {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
