body {
    padding: 0px;
    margin: 0px;
}

#container {
    position: relative;
    padding: none;
    margin: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

#background {
    position: absolute;
    overflow: hidden;
    background-color: aquamarine;
    width: 10000px;
    height: 10000px;
}

#player {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
}